<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Consultar cadastros</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>

.head{
  padding:5 10px;
  width:100%;
  background-color: darkolivegreen;
  color:white;
}

.break{

  margin-top:10px;
}

</style>

</head>

<body>
  <div class="container head" >

    <div>

      <h1>DS Lead - Consultar cadastros</h1>
      <p>Página apenas para consulta dos cadastros</p>

    </div>

  </div>
  <div class="container break">  
    <table id="tabela-resultados" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">E-mail</th>
        </tr>
      </thead>

      <tbody>
        <% usuarios.forEach(usuario => { %>
          <tr>
            <td><%= usuario.nome_usuario %></td>
            <td><%= usuario.telefone %></td>
            <td><%= usuario.email %></td>
          </tr>
        <% }) %>
      </tbody>


      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Campanha</th>
          <th scope="col">Criativo</th>
        </tr>
      </thead>

      <tbody>
        <% clientes.forEach(cliente => { %>
          <tr>          
            <td><%= cliente.nome_cliente %></td>
            <td><%= cliente.campanha %></td>
            <td><%= cliente.criativo %></td>
          </tr>
        <% }) %>
      </tbody>
      

      
    </table>
    
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('form').submit(function(e) {
      e.preventDefault();
      $.get('/usuarios', $(this).serialize(), function(data) {
        $('#corpo-tabela').html('');
        data.forEach(function(usuario) {
          $('#corpo-tabela').append(`
            <tr>
              <td>${usuario.nome}</td>
              <td>${usuario.telefone}</td>
              <td>${usuario.email}</td>
            </tr>
          `);
        });
      });
    });
  });
</script>
    


  </div>
</body>

</html>